<nav class="navbar navbar-expand-sm navbar-dark" data-id="web_navigation_bar">
        <img src='../../../assets/images/silverstorelogo.jpg'>
        <div class="collapse navbar-collapse" id="web_navigation_bar_collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink='/home'>HOME <span class="sr-only">(current)</span></a>
            </li>
        
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown"
                aria-expanded="false">CATEGORIES</a>
              <div class="dropdown-menu" aria-labelledby="dropdown07XL">
                <a class="dropdown-item" routerLink='/lightingsticks'>LIGHTING-CANDLES</a>
                <a class="dropdown-item" routerLink='/chanukia'>CHANUKIA</a>
                <a class="dropdown-item" routerLink='/kidush'>KIDDUSH</a>
              </div>
            </li>
          </ul>
        
        </div>
        <div class="px-5">
          <button class="btn btn-sm" data-id="nav_btn_login" routerLink='/signup'>LOG-IN</button>
        </div>
      </nav>
