<body>
<h1>Cheackout</h1>
        <div class="row">
          <div class="col-75">
            <div class="container">
              <form  [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
              
                <div class="row">
                  <div class="col-50">
                    <h3>Billing Address</h3>
                    <label for="email"><i class="fa fa-user"></i>First Name</label>
                    <input type="text" id="firstname" name="firstname"  placeholder="First Name" autofocus formControlName="firstname">
                    <span *ngIf="!loginForm.get('firstname').valid && loginForm.get('firstname').touched"
                    class="help-block text-danger">please enter a first name!</span>
                    <label for="email"><i class="fa fa-envelope"></i> Email</label>
                    <input type="text" id="email" name="email"  placeholder="Email address" autofocus formControlName="email">
                    <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
                    class="help-block text-danger">please enter a valid email!</span>
                    <label for="address"><i class="fa fa-address-card-o"></i> Address</label>
                    <input type="text" id="address" name="address"  placeholder="Address" autofocus formControlName="address">
                    <span *ngIf="!loginForm.get('address').valid && loginForm.get('address').touched"
                    class="help-block text-danger">please enter an address!</span>
                    <label for="city"><i class="fa fa-institution"></i> City</label>
                    <input type="text" id="city" name="city"  placeholder="City" autofocus formControlName="city">
                    <span *ngIf="!loginForm.get('city').valid && loginForm.get('city').touched"
                    class="help-block text-danger">please enter a city name!</span>
                    <label for="telephone"><i class="fa fa-phone"></i> Telephone</label>
                    <input type="text" id="telephone" name="telephone"  placeholder="Telephone Number" autofocus formControlName="telephone">
                    <span *ngIf="!loginForm.get('telephone').valid && loginForm.get('telephone').touched"
                    class="help-block text-danger">please enter a valid telephone number!</span>
              
                  </div>
        
                  <div class="col-50">
                    <h3>Payment</h3>
                    <label for="fname">Accepted Cards</label>
                    <div class="icon-container">
                      <i class="fa fa-cc-visa" style="color:navy;"></i>
                      <i class="fa fa-cc-amex" style="color:blue;"></i>
                      <i class="fa fa-cc-mastercard" style="color:red;"></i>
                      <i class="fa fa-cc-discover" style="color:orange;"></i>
                    </div>
                    <label for="cname">Name on Card</label>
                    <input type="text" id="cname" name="cardname"  placeholder="Name on Card" autofocus formControlName="nameofcard">
                    <span *ngIf="!loginForm.get('nameofcard').valid && loginForm.get('nameofcard').touched"
                    class="help-block text-danger">please enter a name of card!</span>
                    <label for="ccnum">Credit card number</label>
                    <input type="text" id="ccnum" name="creditcardnumber"  placeholder="1111-2222-3333-4444" autofocus formControlName="creditcardnumber">
                    <span *ngIf="!loginForm.get('creditcardnumber').valid && loginForm.get('creditcardnumber').touched"
                    class="help-block text-danger">please enter a valid card number!</span>
                    <label for="expmonth">Exp Month</label>
                    <input type="text" id="expmonth" name="expmonth"  placeholder="06" autofocus formControlName="expmonth">
                    <span *ngIf="!loginForm.get('expmonth').valid && loginForm.get('expmonth').touched"
                    class="help-block text-danger">please enter expired month!</span>
                    <div class="row">
                      <div class="col-50">
                        <label for="expyear">Exp Year</label>
                        <input type="text" id="expyear" name="expyear"  placeholder="2018" autofocus formControlName="expyear">
                        <span *ngIf="!loginForm.get('expyear').valid && loginForm.get('expyear').touched"
                        class="help-block text-danger">please enter expired year!</span>
                      </div>
                      <div class="col-50">
                        <label for="cvv">CVV</label>
                        <input type="text" id="cvv" name="cvv"  placeholder="CVV" autofocus formControlName="cvv">
                        <span *ngIf="!loginForm.get('cvv').valid && loginForm.get('cvv').touched"
                        class="help-block text-danger">please enter cvv number!</span>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <label>
                  <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                </label>
                <input #checkout type="submit" value="checkout" class="btn" routerLink='/keepcontact'>
              
              </form>
            </div>
          </div>
        
        </div>
        
        </body>
