<h1>our chanukia veriaty</h1>


<div class='flex-container'>
    <div *ngFor='let item of itemsList1'>

        <div class="card">
            <img src={{item.imgSrc}} style="width:100%">

            <h4>Chanukia</h4>
            <p class="price"> {{item.price|currency:'ILS'}}</p>

            <p>{{item.description}}</p>

            <p>
                <button (click)="removeLocalStorage()" routerLink='/singleitem/{{item.id}}'>SHOW DETAILS</button>

            </p>
        </div>
    </div>
</div>