<div class='container'>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/images/silverstorelogo.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Thank you very much for buying from silver store,we will keep intouch with you and of course let you know when your
        persuce items arrive</p>
      <p class="card-text">
        <i class="fa fa-phone"> 03-123456789</i>
      </p>
      <p class="card-text">
        <i class="fa fa-envelope"> silverstore@gmail.com</i>
      </p>

    </div>
  </div>
</div>