<h1>our kidush veriaty</h1>


<div  class='flex-container'>
<div  *ngFor='let item of list'>
<!-- <div  *ngFor='let item of kidushList' >    -->
    
<div class="card">
    <img src="../../../assets/images/kidush1.jpg"  style="width:100%">
    <!-- <img src={{item.ItemImgSrc}}  style="width:100%"> -->
    
    <h4>Kiddush</h4>
     
    <p class="price">5236 NIS</p>
    <!-- <p class="price">{{item.ItemPrice}}</p> -->
    
    <p>BOLERO SILVER KIDUSH CUP - LARGE</p>
    <!-- <p>{{item.ItemDescription}}</p> -->
    
    <p>
        <button routerLink='/singleitem' class="btn btn-secondary">SHOW DETAILS</button>
        <!-- <button routerLink='/singleitem/{{item.id}}'>SHOW DETAILS</button> -->
        
    </p>
</div>
</div>
</div>

