<h1>single item</h1>
<div class='flex-container'>
    <img src={{singleItem.bigImgSrc}} />

    <div>

        <h3>{{singleItem.description}}</h3>

        <div>
            <label>Height :</label>
            <span>{{singleItem.height}}</span>

        </div>
        <div>
            <label>Material :</label>
            <span>{{singleItem.material}} </span>

        </div>
        <div>
            <label>Price :</label>
            <span class='price'>{{singleItem.price|currency:'ILS'}}</span>

        </div>

        <div>
            <label>Number of items :</label>

            <input type="number" id="quantity" name="quantity" min="1" max="10" [(ngModel)]="singleItem.qnty">
        </div>

        <button type="button" class="btn btn-lg" (click)='addToCart()' routerLink='/shoppingcart'>ADD TO SHOPING BAG</button>

    </div>
</div>