<h1>single item</h1>
<div class='flex-container'>
    <img src='../../../assets/images/candlestik1.jpg' />
    <!-- <img src='../../../assets/images/{{singleItem.ItemImgSrc}}' /> -->
    
    <div>
        <!-- <div class='details-container'> -->

            <h3>BOLERO SILVER CANDLESTICKS - LARGE</h3>
            <!-- <h3>{{singleItem.ItemImgSrc}}</h3> -->
            
            <div>
                <label>Height :</label>
                <span> 30.5 cm</span>
                <!-- <span> {{singleItem.ItemHeight}}</span> -->
                
            </div>
            <div>
                <label>Material :</label>
                <span> Sterling Silver 925</span>
                <!-- <span>{{singleItem.ItemMaterial}} </span> -->
                
            </div>
            <div>
                <label>Price :</label>
                <span class='price'>5,236 NIS</span>
                <!-- <span class='price'>{{singleItem.ItemPrice}}</span> -->
                
            </div>

            <button type="button" class="btn btn-lg" (click)='addToCart()' routerLink='/shoppingcart'>ADD TO SHOPING BAG</button>
            
        <!-- </div> -->
    </div>
</div>