<h3>shopping cart</h3>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Product Name</th>
            <th scope="col">Unit Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <!-- <button (click)='deleteSingleItem(item)'> -->
                <button class='btn btn-outline-secondary'>
                    <i class="fa fa-close"></i>
                </button>
            </th>
            <td>
                <img src='../../../assets/images/candlestik1.jpg'>
            </td>
            <td>BOLERO SILVER CANDLESTICKS - LARGE</td>
            <td>4475 nis</td>
        </tr>
        <tr>
            <th scope="row">
                <!-- <button (click)='deleteSingleItem(item)'> -->

                <button class='btn btn-outline-secondary'>
                    <i class="fa fa-close"></i>
                </button>
            </th>
            <td>
                <img src='../../../assets/images/candlestik1.jpg'>
            </td>
            <td>BOLERO SILVER CANDLESTICKS - LARGE</td>
            <td>4475 nis</td>
        </tr>
        <tr>
            <th scope="row">
                <!-- <button (click)='deleteSingleItem(item)'> -->

                <button class='btn btn-outline-secondary'>
                    <i class="fa fa-close"></i>
                </button>
            </th>
            <td>
                <img src='../../../assets/images/candlestik1.jpg'>
            </td>
            <td>BOLERO SILVER CANDLESTICKS - LARGE</td>
            <td>4475 nis</td>
        </tr>
        <!-- <div *ngFor='let item of listItems'>
                <tr>
                    <th scope="row"> <button (click)='deleteSingleItem(item)'>
                            
                    <i class="fa fa-close"></i>
                </button></th>
                        <td><img src={{item.ItemImgSrc}}></td>
                        <td>{{item.ItemDescription}}</td>
                        <td>{{item.ItemPrice}}</td>
                      </tr>
          </div> -->
    </tbody>
</table>
<div class='button'>
    <button type="button" class="button1 btn btn-lg" routerLink='/home'>CONTINUE SHOPPING</button>
</div>
<div class='button'>

    <button type="button" class="button1 btn btn-lg" routerLink='/checkout'>CHECKOUT</button>
</div>